<% if flash[:error] %>
	<div>
		<%= flash[:error] %>
	</div>
<% end %>

<%= form_for @goal, method: "POST" do |g| %>
	<div>
		<%= g.label "What is your goal?" %>
		<br>
		<%= g.text_area :description, size: "50x5" %> 
	</div>
	<p>
	<div>
		<%= g.label "What type of goal is it?" %>
		<br> 
		<%= g.radio_button :goal_type, "monthly" %>
		<%= g.label "Monthly Focus?", for: "goal_goal_type_monthly" %>
		<br>
		<%= g.radio_button :goal_type, "midterm" %>
		<%= g.label "Mid-term Goal?" %>
		<br>
		<%= g.radio_button :goal_type, "longterm" %>
		<%= g.label "Long-term Goal?" %>
	</div>
	<div class="button">
  	<%= link_to "Cancel", goals_path %>
	</div>
	<%#= button_tag "Cancel", goals_path %>
	<%= g.submit %>
	
<% end %>


