<% if flash[:error] %>
	<div>
		<%= flash[:error] %>
	</div>
<% end %>

<%= form_for @habit, method: "POST" do |h| %>
	<div>
		<%= h.label :name %>
		<%= h.text_field :name %>
	</div>
	<a class="btn btn-default" href="<%= habits_path %>" role="button">Cancel</a>
		<button type="submit" class="btn btn-primary">Submit</button>
	</div>
<% end %>