<%= flashNotice(flash[:notice]) %>

<div class="col-md-12">
	
	<!-- put in controller, make it @paths -->
	<% paths = navButtons(@checkinDate) %>
	
	<div class="row">
		<% paths.each do |l| %>
			<div class="col-xs-3">
				<h4><a class="btn btn-primary" href="<%=l%>" role="button">Previous Day</a></h4>
			</div>
		<% end %>
	</div>


	<h1>Your habits for: <%= @checkinDate.strftime("%a, %B %d") %> </h1>

	<div class"row">
		<div class="col-xs-8">
			<table class="table table-striped">
				<thead>
					<tr>
							<h2><th>Habit</th></h2>
							<th>Green</th>
							<th>Yellow</th>
							<th>Red</th>
					</tr>
				</thead>
				<tbody>
					<% @habits.each do |h| %>
						<tr>
							<td><h3>
								<div class="<%= h.checkins.get_checkin_status(@checkinDate.strftime("%Y-%m-%d")) %>"><%= link_to h.name, stats_habits_path(habit_id: h.id) %></span>
								</h3></td>
							<td><%= buildCheckinLabel(h, "green", @checkinDate.strftime("%Y-%m-%d")) %></td>
							<td><%= buildCheckinLabel(h, "yellow", @checkinDate.strftime("%Y-%m-%d")) %></td>
							<td><%= buildCheckinLabel(h, "red", @checkinDate.strftime("%Y-%m-%d")) %></td>
						</tr>
					<% end %>
				</tbody>
			</table>
			<p><a class="btn btn-primary" href="<%= new_habit_path %>" role="button">Add a new habit</a></p>
		</div>
		<div class="col-xs-4">
			<table class="table table-striped">
				<thead>
					<h2><th>Monthly Focus</th></h2>
				</thead>
				<tbody>
					<tr>
						<td><h3>
						  <%= render 'goals/display' %>
							<!-- try to use @goals.get_monthly here first. Not gonna work. -->
						</h3></td>
					</tr>
				</tbody>
			</table>
		
			<p><a class="btn btn-primary" href="<%= goals_path %>" role="button">Manage your goals</a></p>
		</div>
	</div>

</div> 