<% checkinDate = Checkin.checkinDate %>
<%= flashNotice(flash[:notice]) %>

<div class="col-md-12">

	<div class="row">
		<div class="col-xs-4">
			<h4><%= link_to "Previous Day", previousDay_checkins_path, class: 'btn btn-large btn-default' %></h4>
		</div>

		<div class="col-xs-4">
			<h4><%= link_to "Jump to Today", jumpToToday_checkins_path, class: 'btn btn-large btn-default' %></h4>
		</div>

		<div class="col-xs-4">
			<h4><%= link_to "Next Day", nextDay_checkins_path, class: 'btn btn-large btn-default' %></h4>
		</div>
	</div>

	<h1>Your habits for: <%= checkinDate.strftime("%a, %B %d") %> </h1>


		<table class="table table-striped">
			<thead>
				<tr>
						<h2><th>Habit</th></h2>
						<th>Green</th>
						<th>Yellow</th>
						<th>Red</th>
				</tr>
			</thead>
			<tbody>
				<% @habits.each do |h| %>
				ID: <%= h.name %> <%= link_to "Stats Page", stats_habits_path(habit_id: h.id) %>
				<p>
					<tr>
						<td><h3><div class="<%= h.checkins.get_checkin_status(checkinDate.strftime("%Y-%m-%d")) %>"><%= h.name %></span></h3></td>
						<td><%= buildCheckinLabel(h, "green", checkinDate) %></td>
						<td><%= buildCheckinLabel(h, "yellow", checkinDate) %></td>
						<td><%= buildCheckinLabel(h, "red", checkinDate) %></td>
					</tr>
				<% end %>
			</tbody>
		</table>

		<h3><p><%= link_to "Add a new habit", new_habit_path %></p></h3>
</div> 