<% time = Time.new %>

<h1>Today's Date is: <%= "#{time.strftime("%B %d")}" %></h1>

<p>Your habits for the day: </p>
<table>
	<thead>
		<tr>
			<th>Habit</th>
			<th>Green</th>
			<th>Yellow</th>
			<th>Red</th>
		</tr>
	</thead>
	<tbody>
		<% @habit.each do |h| %>
			<tr>
				<!-- if active -->
				<td><%= h.name %></td>
				<td bgcolor="00cc00">
					<%= link_to "Green", habit_checkins_path(status: "green", habit_id: h.id), method: 'POST' %> 
					<% # h.checkins.green.today.count %>
				</td>
				<td bgcolor="ffff00">
					<%= link_to "Yellow", habit_checkins_path(status: "yellow", habit_id: h.id), method: 'POST' %> 
				</td>
				<td bgcolor="ff0000">
					<%= link_to "Red", habit_checkins_path(status: "red", habit_id: h.id), method: 'POST' %> 
				</td>
			</tr>
		<% end %>
	</tbody>
</table>

<p><%= link_to "Add a new habit", new_habit_path %></p>
