<% time = Time.new.localtime %>
<% time = time - Checkin.checkinDay.days %>
<% checkinDate = time.strftime("%Y-%m-%d") %>

<% if flash[:notice] == "green" %>
	<div class="alert alert-success" role="alert"><%= "Nice job! Keep it up." %></div>
<% elsif flash[:notice] == "yellow" %>
	<div class="alert alert-warning" role="alert"><%= "Ehh.. is that the best you can do?" %></div>
<% elsif flash[:notice] == "red" %>
	<div class="alert alert-danger" role="alert"><%= "Oh come on. You gonna give up like that?" %></div>
<% end %>

<div class="row">
	<div class="col-md-2">
		<h4><%= link_to "Previous Day", previousDay_checkins_path, class: 'btn btn-large btn-default' %></h4>
	</div>

	<div class="col-md-2">
		<h4><%= link_to "Jump to Today", jumpToToday_checkins_path, class: 'btn btn-large btn-default' %></h4>
	</div>

	<div class="col-md-2">
		<h4><%= link_to "Next Day", nextDay_checkins_path, class: 'btn btn-large btn-default' %></h4>
	</div>
</div>

<h1>Your habits for: <%= time.strftime("%a, %B %d") %> </h1>


<div class="col-md-4">
	<table class="table table-striped">
		<thead>
			<tr>
					<h2><th>Habit</th></h2>
					<th>Green</th>
					<th>Yellow</th>
					<th>Red</th>
			</tr>
		</thead>
		<tbody>
			<% @habits.each do |h| %>
				<tr>
					<td><h3><div class="<%= h.checkins.get_checkin_status %>"><%= h.name %></span></h3></td>
					<td>
						<% if h.post_or_patch(checkinDate) == "post" #!(h.checkins.empty?) and h.checked_in_on?(checkinDate) %>
							<%= buildCheckinLink("green", h.id, nil, checkinDate, "POST") %>
						<% else %>
							<% last_id = h.check_in_ID(checkinDate) %>
							<%= buildCheckinLink("green", h.id, last_id, checkinDate, "PATCH") %>
						<% end %>
					</td>
					<td>
						<% if h.post_or_patch(checkinDate) == "post" #!(h.checkins.empty?) and h.checked_in_on?(checkinDate) %>
							<%= buildCheckinLink("yellow", h.id, nil, checkinDate, "POST") %>
						<% else %>
							<% last_id = h.check_in_ID(checkinDate) %>
							<%= buildCheckinLink("yellow", h.id, last_id, checkinDate, "PATCH") %>							
						<% end %>
					</td>
					<td>
						<% if h.post_or_patch(checkinDate) == "post" #!(h.checkins.empty?) and h.checked_in_on?(checkinDate) %>
							<%= buildCheckinLink("red", h.id, nil, checkinDate, "POST") %>
						<% else %>
							<% last_id = h.check_in_ID(checkinDate) %>
							<%= buildCheckinLink("red", h.id, last_id, checkinDate, "PATCH") %>
						<% end %>
					</td>
				</tr>
			<% end %>
		</tbody>
	</table>

	<h3><p><%= link_to "Add a new habit", new_habit_path %></p></h3>
</div>