<% time = Time.new.localtime %>

<div class="col-md-8">

<div class="row">
	<div class="col-md-3">
		<!-- td><h3><div class="<%#= h.checkins.get_checkin_status %>"><%#= h.name %></span></h3></td -->
		<h4><%= link_to 'Previous Week', previousWeek_checkins_path, class: 'btn btn-large btn-default' %></h4>
	</div>

	<div class="col-md-3">
		<h4><%= link_to "Current Week", jumpToThisWeek_checkins_path, class: 'btn btn-large btn-default' %></h4>
	</div>
	
	<div class="col-md-3">
		<h4><%= link_to 'Next Week', nextWeek_checkins_path, class: 'btn btn-large btn-default' %></h4>
	</div>
</div>

<h2>Week starting <%= "#{(time - Checkin.startDay.days).strftime("%B %d")}" %></h2>


<table class="table table-bordered">
	<thead>
		<tr>
			<th>Habit</th>
			<% Checkin.endDay.upto(Checkin.startDay) do |d| %>
				<th><%= "#{(time - d.days).strftime("%a - %d")}" %></th>
			<% end %>
		</tr>
	</thead>
	<tbody>
		<% @habits.each do |h| %>
			<tr>
				<!-- ToDo: if active -->
				<td><h2><div class="label label-default"><%= h.name %></span></h2></td>
				<% checkinsThisWeek = h.checkins.get_week %> <!-- #.last(7) -->
				<% checkinsThisWeek.reverse! %>
				

				<% if checkinsThisWeek.count == 7 && 1==2 %> <!-- Bug: this is broken ToDo: -->
					<!-- each day has a checkin -->
					<% checkinsThisWeek.each do |checkinBlock| %>
						<% if checkinBlock.status == "green" %>
							<td bgcolor="00cc00">
						<% elsif checkinBlock.status == "yellow" %>
							<td bgcolor="ffff00">
						<% elsif checkinBlock.status == "red" %>
							<td bgcolor="ff0000">
						<% else %>
							problem
						<% end %>
						</td>
					<% end %>

				<% else %>
					<!-- if at least one checkin is missing -->
					<% dayArray = [] %>
					<% checkinArray = [] %>
					<% weekArray = Array.new(7) %>

					<% Checkin.endDay.upto(Checkin.startDay) do |d| %>
						<% dayArray.push((time - d.days).strftime("%Y-%m-%d")) %>
					<% end %>


					<% checkinsThisWeek.each do |checkinBlock| %>
						<% found = false %>
						<% n = 0 %>
						<% while found == false && n < 7 %>
							<% begin %>
								<% if checkinBlock.date.to_s.include? dayArray[n] %>
									<% weekArray[n] = checkinBlock %>
									<% found = true %>
								<% else %>
									<% n += 1 %>
								<% end %>
							<% rescue %>
								<% n += 1 %>
							<% end %>
						<% end %>
					<% end %>

					<% weekArray.each do |checkinBlock| %>
						<% if checkinBlock.nil? %>
							<td bgcolor="0000ff">no data
						<% else %>
							<% if checkinBlock.status == "green" %>
								<td bgcolor="00cc00"><%#= checkinBlock.date %>
							<% elsif checkinBlock.status == "yellow" %>
								<td bgcolor="ffff00"><%#= checkinBlock.date %>
							<% elsif checkinBlock.status == "red" %>
								<td bgcolor="ff0000"><%#= checkinBlock.date %>
							<% else %>
								problem
							<% end %>
							</td>
						<% end %>
					<% end %>
				<% end %>


			</tr>
		<% end %>
	</tbody>
</table>

<h3><p><%= link_to "Add a new habit", new_habit_path %></p></h3>

</div>

