<%# time = Time.new.localtime %>
<% time = @checkinWeek #Checkin.checkinDate %>

<div class="col-md-12">
	<div class="row">
		<div class="col-xs-4">
			<h4><%= link_to week_habits_path, :year => (time - 7.days).year, :month => (time - 7.days).month, :day => (time - 7.days).day %>

				<%#= link_to 'Previous Week', previousWeek_checkins_path, class: 'btn btn-large btn-default' %></h4>
		</div>

		<div class="col-xs-4">
			<h4><%= link_to week_habits_path, :year => Date.current.year, :month => Date.current.month, :day => Date.current.day %>
				<%#= link_to "Current Week", jumpToThisWeek_checkins_path, class: 'btn btn-large btn-default' %></h4>
		</div>
		
		<div class="col-xs-4">
			<h4><%= link_to week_habits_path, :year => (time + 7.days).year, :month => (time + 7.days).month, :day => (time + 7.days).day %>
				<%#= link_to 'Next Week', nextWeek_checkins_path, class: 'btn btn-large btn-default' %></h4>
		</div>
	</div>

	<h2>Week starting <%= time.strftime("%B %d") %></h2>


	<table class="table table-bordered">
		<thead>
			<tr>
				<th>Habit</th>
				<% 0.upto(6) do |d| %>
					<th><%= (time - d.days).strftime("%a - %d") %></th>
				<% end %>
			</tr>
		</thead>
		<tbody>
			<% @habits.each do |h| %>
				<tr>
					<!-- ToDo: if active -->
					<td><h2><div class="label label-default"><%= h.name %></span></h2></td>
					<% h.checkins.get_week(@checkinWeek).each do | checkinBlock | %>
						<td bgcolor="<%= colorPicker(checkinBlock) %>"></td>
					<% end %>
				</tr>
			<% end %>
		</tbody>
	</table>

	<h3><p><%= link_to "Add a new habit", new_habit_path %></p></h3>
</div>
