<!DOCTYPE html>
<html>
<head>
  <title>Habitron</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="container">
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href=<%= today_habits_path %>>Habitron</a>
				</div>
				<div id="navbar" class="navbar-collapse collapse">
					<ul class="nav navbar-nav">
						<li><a href=<%= today_habits_path %>>Daily Display</a></li>
						<li><a href=<%= week_habits_path %>>Weekly Display</a></li>
						<li><a href=<%= month_habits_path %>>Monthly Display</a></li>
						<li><a href=<%= stats_habits_path %>>Habit Stats</a></li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<% if user_signed_in? %>
							<li><%= link_to "Sign out", destroy_user_session_path, method: 'delete' %></li>
						<% else %>
							<li><%= link_to "Sign In", new_user_session_path %></li>
						<% end %>
					</ul>
				</div>
			</div>
		</nav>
	</div>

<div class="container">
	<%= yield %>
</div>

</body>
</html>