<!DOCTYPE html>
<html>
<head>
  <title>Habitron</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<p><%= link_to "Daily Display", today_habits_path %> | 
		<%= link_to "Weekly View", week_habits_path %> | 
		<%= link_to "Monthly View", month_habits_path %> | 
		<%= link_to "Habit Stats", stats_habits_path %></p>

<%= yield %>

</body>
</html>